body {
  text-align: center;
  background-color: #111111;
  font-family: "DynaPuff", sans-serif;
}

a{
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  margin-left: 120px;
  margin-right: 90px;
}

.img-container{
  height: 800px;
}

img{
  height: 800px;
  margin: 20px 10px;
  border: none;
  border-radius: 15px;
  margin-left: 200px;
}

h1{
  font-size: 60px;
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
  color: #00ff73;
}

button{
  background-color: #3d9824;
  border: 2px #818181 solid;
  height: 50px;
  width: 150px;
  margin-left: 50px;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 80px;
}

.img-num{
  color: #fff;
}
