body{
  background-color: #111111;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #00ff73;
}

nav{
  color: #fff;
  display: inline-flex;
  text-align: center;
  margin-bottom: 20px;
}

h1{
  font-size: 50px;
  margin-top: 100px;
  font-family:"DynaPuff", sans-serif;
}

button{
  height: 80px;
  width: 300px;
  font-size: 30px;
  padding: 5px;
  text-align: center;
  margin-top: 50px;
  margin-left: 10px;
  border-radius: 15px;
  background-color: #157b55;
  border: 0px;
  font-family:"DynaPuff", sans-serif;
}

a{
  color: #fff;
  text-decoration:none;
  text-align: right;
  float: right;
  margin-left: 200px;
  font-size: 20px;
  font-family:"DynaPuff", sans-serif;
  text-align: center;
}

label{
  font-size: 30px;
  text-align: center;
  margin: 20px 0px;
  display: block;
}
